{% extends "BASE.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/CSS_CreatingGame.css' %}">
{% endblock %}

{% block JS %}
    <script src="{% static 'JS/SCRIPT_CreatingGame.js' %}"></script>
{% endblock %}

{% block content %}
    <!-- Your form HTML -->
    <div class="FormCreateGame">
        <div class="container">
            <form id="game-form" method="post" enctype="multipart/form-data" class="leform">
                {% csrf_token %}
                {{ form.as_p}}
                <button type="button" id="create-game-btn">Create Game</button>
            </form>
        </div>
    </div>


{% endblock %}

{% block script_variable %}
    <script>
        const url='{% url "waiting-page" %}';
    </script>
{% endblock %}
