{% extends "BASE.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/CSS_JoinGame.css' %}">
{% endblock %}
{% block title %}
    JOIN GAME
{% endblock %}
{% block JS %}
    <script src="{% static 'JS/SCRIPT_JoiningGame.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="FormJoinGame">

    <h1 class="title">Join a Game</h1>
        <div class="CONTAINER">

            <form id="join-game-form" method="post" enctype="multipart/form-data" class="leform">
    {% csrf_token %}
    <label for="game-code">Enter Game Code:</label>
                <br>
    <input type="text" id="game-code" name="game_code" required><br>
    <button type="button" id="join-game-btn">Join Game</button>
</form>
        </div>

    </div>



{% endblock %}


{% block script_variable %}
<script>
    const url_joining = '{% url "join-game" %}';
    const url_waiting = '{% url "waiting-page" %}';
    </script>
{% endblock %}







