{% extends "BASE.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/CSS_WaitingForPlayer.css' %}">
{% endblock %}
{% block title %}
    WAITING
{% endblock %}
{% block JS %}
<script src="{% static 'JS/SCRIPT_WaitingForPlayer.js' %}"></script>
{% endblock %}

{% block content %}


    <div class="CONTAINER">
    <div id="waiting-stage">
    <H1>Waiting <br> For <br> Another Player<br></H1>

</div>

    </div>
    <div class="gamecode">
    <h2> Your game code:<br>{{ idcode }}</h2>
    </div>
<div id="ticTacToeBoard">
                <table id="board">
                    <tr>
                        <td class="cell" id="cell00"></td>
                        <td class="cell" id="cell01"></td>
                        <td class="cell" id="cell02"></td>
                    </tr>
                    <tr>
                        <td class="cell" id="cell10"></td>
                        <td class="cell" id="cell11"></td>
                        <td class="cell" id="cell12"></td>
                    </tr>
                    <tr>
                        <td class="cell" id="cell20"></td>
                        <td class="cell" id="cell21"></td>
                        <td class="cell" id="cell22"></td>
                    </tr>
                </table>
            </div>

<script>

    </script>
{% endblock %}



