.scoreboard-container {
    max-width: 800px;
    margin: 50px auto;
    background: rgba(102, 30, 166, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
body{
    overflow: auto;
}

.scoreboard-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
    margin-top: 20px;
    background: rgba(74, 32, 107, 0.65);
    border-radius: 10px;
    overflow: auto;
    max-height: 400px;
    table-layout: fixed;
    margin: 0 auto;
}

.scoreboard-table th, .scoreboard-table td {
    border: none;
    padding: 12px;
    text-align: center;
    background: rgb(129, 52, 199);
    box-shadow: 0 2px 4px rgba(34, 38, 183, 0.12);
    border-radius: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-info {
    display: flex;
    align-items: center;
}

.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.scoreboard-container h2 {
    text-align: center;
}
.scoreboard-container a {
    text-align: center;
}

.pagination {
    margin-top: 10px;
    text-align: center;
}

.pagination button {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    background-color: rgb(129, 52, 199);
    color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
#usernameSearch {
    padding: 8px;
    width: 200px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}


.scoreboard-table tr.matched {
    background-color: #f0f8ff;
}