{%extends "BASE.html"%}
{% load static %}
{% block title %}
    REGISTER
{% endblock %}
{% block content %}
<div class="formulaire">

    <form method="POST">

        {% csrf_token %}
        <fieldset class="form-elemnt">
            <legend class="">yes</legend>
            {{ form.as_p}}

        </fieldset>
        <div class="form-button">
            <button class="btn" type="submit">yep</button>
        </div>

    </form>
    <div class="already">

        <small class="text au cas ou">already account ?
        <a href="#">sign in</a>

        </small>

    </div>
</div>
{% endblock %}