
body {
    margin: 0;
    line-height: normal;
    background-image: url("../IMG/background@2x.jpg");
    background-size: contain;
    background-color: #2e3234;
    background-size: 215px;
    overflow: hidden;

}

:root {
    /* fonts */
    --font-inter: Inter;

    /* font sizes */
    --font-size-mini: 0.94rem;

    /* Colors */

    font-family: Inter;

    /* font sizes */
color: white;

    --text-color: white;
}


a {
    text-decoration: none;
    color: White;
}

.nav-barre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px 0 10px;
    position: sticky;
    text-decoration: none;
}

.midlinks {
    display: flex;
    justify-content: center;


}

.midlinks a {
    padding-left: 25px;
    padding-right: 25px;
}

.nav-barre a:hover {
    transition: 0.5s;
    filter: drop-shadow(0px 0px 5px rgb(183, 0, 255));

}

.leftlinks {
    display: flex;
    align-items: center;
}

.leftlinks a {

    padding-right: 15px;
}
/*
.footer {
  background-color: #18191b;
  color: #fff;
  padding: 05px 0;
    text-align-all: center;
    position: sticky;
    bottom: 0vh;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
    bottom: 0;
}

.footer p {
  font-size: 14px;
}

.footer ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.footer li {
  margin-right: 20px;
}

.footer a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* Media query for smaller screens */
/*
@media (max-width: 768px) {
  .footer-content {
    justify-content: center;
    text-align: center;
  }

  .footer ul {
    margin-top: 10px;
  }

  .footer li {
    margin: 0 10px;
  }
}
*/*/*/*/